@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.editor-container {
  display: grid;
  grid-template-areas: 
    'left top top top top right'
    'left center center center center right'
    'left center center center center right'
    'left center center center center right'
    'left center center center center right'
}

.editor-container .left {
  grid-area: left;
  border-right: 1px solid lightgray;
}
.editor-container .top {
  grid-area: top;
  border-bottom: 1px solid lightgray;
  height: 50px;
}
.editor-container .center {
  grid-area: center;
  border: 1px solid red;
}
.editor-container .right {
  grid-area: right;
  border-left: 1px solid lightgray;
}

.editor-container .left,
.editor-container .right {
  height: 100vh;
  min-width: 50px;
}

.editor-container-f {
  width: 100vw;
  height: 100vh;
  min-width: 700px;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

.left-f {
  /* min-width: 50px; */
  border-right: 1px solid lightgray;
}
.left-f.open {
  width: 250px;
}

.right-f {
  /* min-width: 50px; */
  border-left: 1px solid lightgray;
}
.right-f.open {
  width: 250px;
}

.center-f {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.center-f .center-c {
  flex: 1;
  overflow: auto;
  justify-content: center;
}

.top-f {
  height: 50px;
  border-bottom: 1px solid lightgray;
}

.btn-holder {
  width: min-content;
  padding: 0;
  margin: 0;
}
.btn-holder.left {
  float: right;
  margin: 2px;
}

.btn-holder.right {
  margin: 2px;
}

.active-editor-box {
  border: 1px solid blue;
}

.red {
  color: red;
  background: teal;
  border-bottom: 1px solid red;
}

.red:hover {
  color: gray;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
